.banking {
  padding: 1rem;
  padding-top: 64px;
  position: relative;
  h1 {
    font-size: 2rem;
  }

  .banking-overview {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .dataUser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0;
    color: var(--text-dark-mode);
  }
  .actions__card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    button {
      background: linear-gradient(135deg, #0866ff, #2a5298);
      border-radius: 12px;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
      padding: 20px;
      color: white;
      text-transform: uppercase;
      border: none;
      transition: 0.3s ease-in-out;
      cursor: pointer;
      display: flex;
      align-items: center;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 28px;
        min-width: 170px;
        font-size: 16px;
        svg {
          fill: white;
        }
      }
      &:hover {
        scale: 1.02;
      }
    }
    @media (max-width: 480px) {
      position: fixed;
      flex-wrap: nowrap;
      bottom: 18px;
      left: 0;
      width: 100%;
      gap: 0px;
      z-index: 1;
      margin: 0;
      button {
        width: 100%;
        padding: 20px 0 20px 0;
        border-radius: 5px 5px 0 0;
        transition: none;
        span {
          min-width: auto;
          width: 100%;
          font-size: 12px;
        }
      }
    }
  }
}
