@import "./variables";
@import "./mixins";

.header__component {
  .appBar {
    box-shadow: 1px 1px 5px var(--text-dark-mode) !important;
    position: fixed !important;
    top: 0 !important;
    z-index: 1;
  }

  .input__search {
    border: 1px solid var(--text-dark-mode);
    border-radius: 7px;
  }

  .logo_header {
    width: 24px;
    transition: 0.3s;
    &:hover {
      scale: 1.07;
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      outline: 2px solid black;
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
      outline: 2px solid rgb(255, 255, 255);
    }
  }

  .cart-button.pulse {
    animation: pulse 0.5s linear infinite;
  }
}
