*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}
.d-flex-center {
  display: flex;
  justify-content: center;
}

.d-flex-a-center {
  display: flex;
  align-items: center;
}
