*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}
.d-flex-center {
  display: flex;
  justify-content: center;
}

.d-flex-a-center {
  display: flex;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0866ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0866ff;
}
